.post {

    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    &__heading {
        font-weight: 600;
        font-size: 64px;
        line-height: 78px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    &__error {
        color: $error;
        font-size: 1.2em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__content {
    }

    &__item {
    }

    &__item-image {
        width: 1006px;
        height: 320px;
        background: $primary-color;
        cursor: pointer;
    }

    &__item-block {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__item-box {
    }

    &__item-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 5px;
    }

    &__item-des {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $text-secondary;
        margin-bottom: 15px;
    }

    &__item-text {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: $text-secondary;
        max-width: 625px;
    }

    &__item-num {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $text-secondary;
        display: flex;
        align-items: end;
    }
}

